<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

  <title>WNBA Shot Charts Home: Player Profile</title>
</head>
<body>
  <h1>Player Profile</h1>
  <h2>{{ player_headline_stats.rowSet.0.1 }}</h2>

    <h2>{{ player_headline_stats.name }}</h2>
    <table>
      {% for header in player_headline_stats.headers%}
      <th>{{ header}} </th>
      {% endfor %}

      {% for row in player_headline_stats.rowSet %}
        <tr>
          {%for data in row %}
            <td>{{ data }}</td>
          {% endfor %}
        </tr>
      {% endfor%}
    </table>

    <h2>{{ player_common_info.name }}</h2>
    <table>
      {% for header in player_common_info.headers%}
      <th>{{ header}} </th>
      {% endfor %}

      {% for row in player_common_info.rowSet %}
        <tr>
          {%for data in row %}
            <td>{{ data }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>


</body>
</html>

